.form-heading {
  color: $color-acc-light;
  text-align: center;
  margin-bottom: 8px;
}

.form-add-item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  input#num-items,
  input#item-name {
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: $color-acc-light;
    color: $color-text;
  }
  label {
    color: $color-acc-light;
  }
  .btn-add-item {
    padding: 8px;
    border-radius: 8px;
    width: 50%;
    align-self: center;
    margin-top: 1rem;
    outline: none;
    border: none;
    background-color: $color-acc-med;
    font-size: 2rem;
    color: white;
  }
}
