.Form {
  // height: 80%;
}

.add-form {
  // max-height: 20vh;
  padding: 1rem;
  background-color: $color-acc-light;
  border-radius: 1rem;
  color: $color-bg;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  @include md {
    flex-direction: row;
    background: linear-gradient(
      to right,
      $color-acc-light 33%,
      $color-bg 50%,
      rgba($color-bg, 0.1) 99%
    );
  }

  &--heading {
    color: gray;
  }

  &--form {
    display: flex;
    flex-direction: row;
    // gap: 8px;
    justify-content: space-around;
    align-items: center;

    input,
    select,
    button[type="submit"] {
      border: none;
      outline: none;
      font-size: 1rem;
      padding: 6px;
      border-radius: 12px;
    }

    button[type="submit"] {
      width: 20%;
      background-color: $color-acc-dark;
      color: white;
    }

    input {
      max-width: 50%;
    }

    select {
      option {
        padding: 0;
        margin: 0;
        font-size: 0.66rem;
        text-align: center;
      }
    }
  }
}
