.Logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1.logo {
  margin-top: 1rem;
  font-size: 1.6rem;

  span {
    opacity: 0.66;
    font-size: 2rem;
  }
}
