.PackingList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;

  ul.list {
    width: 100%;
    // border: 1px solid green;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      // padding: 0.25rem 1rem 0.25rem 0;
      width: 100%;
      border-bottom: 1px solid $color-acc-dark;
      font-size: 1rem;
      line-height: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // margin-top: 6px;
      padding: 6px;
      @include md {
        max-width: 66%;
      }
      @include lg {
        max-width: 75%;
      }

      span {
        width: 100%;
      }

      input[type="checkbox"] {
        margin-right: 1rem;
        width: 24px;
      }
      button {
        height: 32px;
        border: 0;
        outline: 0;
        font-size: 16px;
        margin-left: 1rem;
        background-color: rgba(orangered, 0.2);
        border-radius: 8px;
        padding: 6px 12px;
        cursor: pointer;
      }
    }
  }

  .sort-controls {
    // border: 1px solid teal;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @include md {
      justify-content: start;
      gap: 1rem;
    }

    select,
    button {
      outline: none;
      border: none;
    }

    select {
      border: 1px solid $color-acc-med;
      padding: 8px;
      border-radius: 8px;

      option {
        font-size: 0.8125rem;
      }
    }

    button {
      background-color: $color-acc-dark;
      padding: 8px;
      border-radius: 8px;
      color: white;
    }
  }
}
