.PackingList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  ul.list {
    width: 100%;
    // border: 1px solid green;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    list-style: none;
    li {
      padding: 0.25rem 1rem 0.25rem 0;
      width: calc(100% - 3rem);
      border-bottom: 1px solid $color-acc-dark;
      font-size: 1.2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include md {
        max-width: 66%;
      }
      @include lg {
        max-width: 75%;
      }

      span {
        width: 100%;
      }

      input[type="checkbox"] {
        margin-right: 1rem;
      }
      button {
        border: 0;
        outline: 0;
        font-size: 0.8125rem;
        margin-left: 1rem;
        background-color: rgba(orangered, 0.1);
        border-radius: 50%;
      }
    }
  }

  .sort-controls {
    // border: 1px solid teal;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @include md {
      justify-content: start;
      gap: 1rem;
    }

    select,
    button {
      outline: none;
      border: none;
    }

    select {
      border: 1px solid $color-acc-med;
      padding: 8px;
      border-radius: 8px;

      option {
        font-size: 0.8125rem;
      }
    }

    button {
      background-color: $color-acc-dark;
      padding: 8px;
      border-radius: 8px;
      color: white;
    }
  }
}
