.stats {
  border: 1px solid red;
  // bottom: 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  // width: 100%;
  max-width: calc(100vw - 2rem);
}
